/* ================================= 
  Base Styles
==================================== */
* { 
  box-sizing: border-box;
  vertical-align: middle;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #5C5C5C;
  background:#fff;
  font-size:18px;
  line-height:1.5em;
}

h2{
  font-family: 'Playfair Display', serif;
}


/* Link Styles */

a {
  text-decoration: none;
  color:#a5a5a7;
}
a:hover {
  color: #6633ff;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav {
  width: 100%;
  min-height: 45px;
  padding: 10px;
  position: fixed;
  text-align: center;
  background:#fff;

  
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    color:#c0ac90;
    display: block;
    margin-right: auto;

    
}
.nav li {
  padding: 5px 10px 10px 10px;
  font-size:16px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}

.top_banner {
  text-align: center;
  background: url('images/rsz_woman-standing-alone-on-a-large-wooden-pier-on-a-lake-picjumbo-com-small.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  line-height: 1.5;
}


.profile-image {
  /*float:left;*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  transition: all .5s;

}
.profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  color:#fff;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 50px auto;
  padding-bottom: 0px;
} 

.slogan {
  color:#969696;
}

/* ---- Layout Containers ---- */


/*第一部分：個人介紹*/

.container{
  width:100%;
  margin-top:60px;
}

.about{
  width:100%;
  margin:0 auto;
  padding: 0 10px;
}

.about h2{
  /*background: url('images/personal-profile title.png') no-repeat top left;*/

}

.about h3 {
  line-height:1.2em;
  padding-bottom:10px;
}

.description {
  text-align:justify;
  padding: 0 10px;
}

/*skill*/

.service {
  margin-top: 40px;

}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.logo {
  border:1px solid #969696;
  border-radius:50%;
  width:100px;
  height:100px;
  line-height:100px;
  text-align:center;
  font-size:2em;
  float:left;
  margin-left:20px;
  margin-top: -4px;

}

.logo::after{
  font-family: FontAwesome;
  right: 15px;
  top: 23px;
  z-index: 2;
  width: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #969696;
}

.skill1::after {
  content: "\f1c9";
}

.skill2::after {
  content: "\f0d0";
}

.skill3::after {
  content: "\f108";
}

/*第三部分：作品集 */
.profile_item{
  display: -ms-flex;
  display:flex;
  max-width:1000px;
  -ms-flex-pack: distribute;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap:wrap;
  margin:30px auto;
}

.item1 {
  width:655px;
  height:344px;
  background: linear-gradient(0deg, #272727 , transparent 50%),
              url('images/rsz_portfolio-01.jpg') no-repeat top center; 
  margin:10px auto 0;
  transition: all .5s;
}

.item2 {
  width:320px;
  height:344px;
  background-color:tomato;
  margin:10px auto 0;
}



.pro2{
  background: linear-gradient(0deg, #272727 , transparent 50%),
              url('images/rsz_portfolio-02.jpg') no-repeat top center; 
}

.pro3{
  background: linear-gradient(0deg, #272727 , transparent 50%),
              url('images/rsz_portfolio-03.jpg') no-repeat top center; 
}

.pro4{
  background: linear-gradient(0deg, #272727 , transparent 50%),
              url('images/rsz_portfolio-04.jpg') no-repeat top center; 
}

.pro5{
  background: linear-gradient(0deg, #272727 , transparent 50%),
              url('images/rsz_portfolio-05.jpg') no-repeat top center; 
}

.pro_p{
  margin:150px auto;
  color:#fff;
  text-shadow: 2px 2px 5px #050505;
}

footer {
  background:#c0ac90;
  height:90px;
  width: 100%;
  color:#fff;

}

.mail::before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6em;
  padding-right: 0.5em;
  left: 0;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color:#fff;
  font-size: .6em;
}

footer .copyright {
  font-size: .6em;
}

/* ---- Page Elements ---- */

.anchor{
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  .container {
    width: 90%;
    margin: 10px auto;
    padding-top: -200px;
    position: relative;


  }

  .about {
    margin-bottom: 360px;
  }

  .about_mainpoint {
    float: left;
    margin: 0;

  }

  .description {
    float: right;
    margin: 0;
  }

  .logo {
    float: none;
    margin: 0 auto;
}

.service-container{
  display: inline-block;
  width: 100%;
}

.service {
  width: 30%;
  text-align: center;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: top;

}

.service h3,
.service p {
  display: inline-block;


}

.service h3 {
    padding-top: 5px;
}

.service p {
  width: 100%;
}


}



@media (min-width:1024px) {

.about_mainpoint {
    width: 40%;
    padding-left: 150px;
    padding-top: 100px;
}

.description {
    width: 60%;
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 50px;
}


/*footer*/
footer {
  position:relative;
  display:block;
  
}

/*可以用增加p的邊匡來看該div 佔多少寬*/
footer .left {
  float:left;
  width:30%;/*控制寬的佔比，調整位置*/
  

}

.mail{
  height:17px;
  margin:10px 0 25px 50px;
}

footer .right{
  float:right; 
  width:30%;
  padding:0 30px;
  margin:0 30px;
  }
}

